{{!-- <div class="wrapper ">
    <div class="sidebar" data-color="orange">
        <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                BB
            </a>
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Bumbled
            </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="./dashboard.html">
                        <i class="now-ui-icons design_app"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="./add.html">
                        <i class="now-ui-icons education_atom"></i>
                        <p>Add Form</p>
                    </a>
                </li>

                <li>
                    <a href="./product.html">
                        <i class="now-ui-icons ui-1_bell-53"></i>
                        <p>Product List</p>
                    </a>
                </li>
                <li>
                    <a href="./user.html">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="./tables.html">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>User List</p>
                    </a>
                </li>
            </ul>
        </div>
    </div> --}}


    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                In</label>
            <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot
                Password</label>

            <div class="login-form">
                <form method="post" action="/dang-nhap">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Username or Email</label>
                            <input name="email" id="user" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input name="password" id="pass" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <button type="submit" class="button">Sign In</button>
                        </div>
                        
                </form>
                <div class="hr"></div>
            </div>
            <div class="for-pwd-htm">
                <div class="group">
                    <label for="user" class="label">Username or Email</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Reset Password">
                </div>
                <div class="hr"></div>
            </div>
        </div>

    </div>

    {{!--
</div>
</div> --}}